/*.dgrid-row {*/
    /*height: 2em;*/
/*}*/

.dgrid-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dgrid-row-odd {
    background: #bbdde8;
}

.dgrid-column-district {
   width: 13em;
}
